$border-radius: 5px;
$c-block-1: #00A878;
$c-block-2: #F95738;
$c-block-bg: #F0F2EF;
$c-bg: #272D2D;

// These values are js-dependent
// Need to be changed in css and js simultaneously
$c-size: .88em; // cell size
$c-space: 0.05em; // space between cells-cells and between borders-cells
$c-basic-scale: 100px; // default cell scale

html {
    height: 100%;
}

body {
    background-color: $c-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    font-family: sans-serif;
    color: $c-block-bg;

    // for vertical align
    position: relative;
    display: table;
    width: 100%;
    height: 100%;

    // Basic body scale, can be changed via device width
    font-size: $c-basic-scale;

    // Disable user select
    -webkit-touch-callout: none;
    user-select: none;

    // Enable hardware rendering for iOS
    transform: translate3d(0,0,0);
}

main {
    margin: 0 auto;

    // for vertical align
    display: table-cell;
    vertical-align: middle;
}

.field {
    margin: 0 auto;
    background-color: $c-block-bg;
    border-radius: $border-radius;
    overflow: hidden;
    padding: $c-space;
    position: relative;
}

.line {
    width: auto;
    height: auto;
    clear: both;
    overflow: hidden;
}

.cell {
    width: $c-size;
    height: $c-size;
    margin: $c-space;
    float: left;
    border-radius: $border-radius;
    box-sizing: border-box;
    background: $c-block-2;
    &.on {
        background: $c-block-1;
    }
}

.copyright {
    margin: .2em auto;
    opacity: 0.2;
    p {
        font-size: 1rem;
    }
}

a {
    color: $c-block-bg;
    &:hover {
        opacity: 0.7;
    }
}

.time {
    margin: .2em auto;
    color: $c-block-bg;
    opacity: 0.2;
    p {
        font-size: 1.5em;
        text-align: center;
    }
}



.start {

    .field:after {
        background: rgba(0, 0, 0, .8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "►";
        line-height: 2.12em;
        text-align: center;
        font-size: 2em;
        color: rgba(255, 255, 255, .4);
    }

}

