doctype html
html(lang="en")
  head
    title taptap
    link(rel='stylesheet', type='text/css', href='css/all.min.css')
    script(src='js/all.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  body(ontouchstart)
    main.start
      .time
        p 00:00
      .field
      .copyright
        p Published under MIT license on <a href='https://github.com/Inlife/taptap' target='blank'>Github</a>.
