doctype html
html(lang="en")
  head
    title swap
    link(rel='stylesheet', type='text/css', href='css/all.min.css')
    script(src='js/all.min.js')
  body
    main
      ul
        - var n = 0
        while n < 16
          li
          - n++
