doctype html
html(lang="en")
  head
    title swap
    link(rel='stylesheet', type='text/css', href='css/all.min.css')
    script(src='js/all.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  body(ontouchstart)
    main
      div(class='field')
